<div>
    <label>What is your twitter handle?</label>
    <input type="text" ng-model="handle" />
</div>
<div class="alert" ng-class="{'alert-warning':(handle.length < characters), 'alert-danger':(handle.length > characters)}" role="alert">
    <div ng-show="(handle.length < characters)">Less than 5!</div>
    <div ng-show="(handle.length > characters)">More than 5!</div>
</div>

<div>
    <h1>Rules</h1>
    <ul>
        <li ng-repeat="rule in rules">{{rule.rulename}}</li>
    </ul>
</div>

<input type="button" value="Click me" ng-click="alertClick()" />

<div>name: {{name}}</div>

<!--
<div class="alert alert-warn" role="alert" ng-if="(handle.length !== characters)">Must be 5 characters!</div>
<div class="alert alert-warn" role="alert" ng-show="(handle.length !== characters)">Must be 5 characters!</div>
<div class="alert alert-warn" role="alert" ng-hide="(handle.length === characters)">Must be 5 characters!</div>
-->
<hr/>
<h1>twitter.com/{{getLowerCaseHandle()}}</h1>
<hr/>
<h1>Calling REST Service</h1>
<div>
    <h1>Partners</h1>
    <ul>
        <li ng-repeat="partner in partners">{{partner.partner_description}}</li>
    </ul>
</div>
<hr/>
<form name="myForm">
    <label>Partner ID:</label>/
    <input type="text" ng-model="partner_id" name="partner_id" required maxlength="20" />
    <br/>
    <label>Description:</label>
    <textarea ng-model="partner_description" name="partner_description" maxlength="200" rows="3">
    </textarea>
    <br/>
    <input type="button" value="Submit" ng-click="savePartner()">

    <!--
    <div ng-messages="myForm.myField.$error" role="alert">
        <div ng-message="required">Please enter a value for this field.</div>
        <div ng-message="email">This field must be a valid email address.</div>
        <div ng-message="maxlength">This field can be at most 15 characters long.</div>
    </div>
    -->
</form>

<hr/>
<h1>Custom Service</h1>
<input type="text" ng-model="serviceName" maxlength="20" />
<label>length: </label><div>{{serviceNameLength}}</div>


